
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.bounce {
  display: inline-block;        
  animation: bounce 2s infinite; 
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.btn1:hover{
  color: #0056b3;
   transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}


